@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&family=Playfair+Display:ital,wght@0,700;0,900;1,700;1,900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Playfair Display", ui-serif, Georgia, serif;

  --color-base-bg: #F9F6F2;
  --color-base-text: #2D2A26;
  --color-primary: #D94E28;
  --color-secondary: #4F6D7A;
  --color-card-light: #E8E2D9;
  --color-card-dark: #2D2A26;
}
